.aj {
  border-radius: 20px;
}

.bg-smoke {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-mask {
  background-color: rgba(129, 61, 236, 1);
  background-image: url("../assets/bg-mask.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.floating {
  animation-name: floating;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
